.about {
    color: #053961;
    font-weight: bold;
    margin-top: 5pt;
    border-bottom: #053961 solid 1pt;
    font-size: 17pt;
}
.profile {
    width: 200px;
    height: 200px;
    margin-left: 21%;
}
.bungkus {
    margin-left: 20pt;
    margin-top: 20pt;
    height: 400pt;
    margin-bottom: 20pt;
    
}
.nama {
    color: #053961;
    font-size: 15pt;
    border-bottom: #053961 solid 1px;
    border-top: #053961 solid 1px;
    padding : 5px;
    font-weight: bold;
}
.desc {
    color: #053961;
    border-bottom: solid 1px #053961;
    font-size: 12pt;
    
}
.card {
    border: 2px solid lightgray;
}


