.judul-atas {
    margin-top: 15pt;
}

.judul-kiri {
    text-align:left;
    color: #053961;
    font-size: 15pt;
    font-weight: bold;
    border-bottom: #053961 solid 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.judul-kanan {
    float:right;
}
.judul-kiri em {
    color: black;
    font-size: 14pt;
}
.foto-keterangan {
    height: 40%;
}
.foto {
    width: 60%;
}
.desc {
    width: 40%;
   
}
.judul-ini {
    font-size: 12pt;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #053961 1px solid;
    margin: 10pt;
}
.keterangan {
    font-size: 11pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10pt;
}
.foto-kecil {
    width: 50pt;
    height: 50pt;
}
.keterangan2 {
    font-size: 11pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
table {
    width: 100%;
    margin-bottom: 50pt;
}
.tombol-bawah {
    background: #053961;
    color: white;
    width: 90pt;
    height: 30pt;
    margin-bottom: 40pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: #053961;
}
.tombol-kanan {
    float: right;
}


/* kartu */


.nama {
    color: #053961;
    font-size: 12pt;
    border-bottom: #053961 solid 2px;
    font-weight: bold;
    text-align: center;
    margin-bottom : 15px;
    margin-top : 15px;
}
.desc-kanan {
    color: #053961;
    font-weight: bold;
    font-size: 9t;
    
}
.card {
    border: 2px solid lightgray;
    margin: 10pt;
}
.owner {
    color: #053961;
    font-weight: bold;
}
.imgtelpon{
    float : left;

}
.imgtelpon>img{
    width: 20pt;
    height: 20pt;
}
.profile {
    width: 100pt;
    height: 100pt;

}
.info {
    color: #053961;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size : 10pt;
}

.icon {
    width: 50px;
}