/* Navbar */
.navbar {
    background: #053961;
    margin : 0 auto;
}

.navbar-nav a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-right:10px;
    margin-left:10px;
    color:white !important;
}

.navbar-nav a:hover, .active_nav{
    background-color: #062f4f;
    border-radius : 7px;
}

.dropdown .dropdown-menu{
    background-color: #053961;
    min-width:100px;

}

.dropdown-menu a {
    width:100%;
    margin :0;
}


.warnafooter {
    background: #053961;
}
.footercaption {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tulisan{
    color : white;
    text-align: center;
    font-size : 14px;
}

.footercaption:hover{
   color : red;
   text-decoration: none;
}

.page-footer {
    background: #053961;
    
}
.imagefooter {
    width: 15pt;
    height: 15pt;
}
.imageapp {
    width: 200pt;
    height: 50pt;
}