/* Section 2 */
.warnabungkusicon {
    background: #f1f2f2;
    text-align :center;
}

.margin{
    margin-top:15pt;
}

.bagi3 {
    height: 200px;
    float:left;  
    margin : 0 auto;
}

.kotak{
    height: 100%;
}

.kotak:hover{
    cursor:pointer;
}

.kotak_atas{
    height: 100px;
}

.kotak_atas img{
    height: 100%;
    
}

.kotak_bawah{
    margin-top :10px;
    color : #053961;
    font-weight: bold;
    text-align: center;
    height: 40px;
}

/* Section 3 */
.rent {
    color: #053961;
    font-weight: bold;
    margin-top: 5pt;
    border-bottom: 2px solid #053961;
}


.kotak_bawah2{
    color : #053961;
    font-weight: bold;
    height: 20%;
}
.kotak_bawah2>p {
    color: #8795a6;
    font-size: 8pt;
}
.kotak_bawah2>h1 {
    font-size: 15pt;
}

.kotak_atas2 {
    height: 60%;
    text-align: center;
    width :100%;
    margin :0;
}
.kotak_atas2 img {
    height: 100%;
    width: 100%;
}
.kotak_bawah3 {
    margin-top : 20px;
    height: 20%;
    color : #053961;

}

.kotak_sewa{
    height: 300pt;
}

.kotak_bungkus_bawah{
    margin :10px;
}

.kotak_sewa > .kotak {
    padding : 0;
}


.f24{
    font-size: 14pt;
}
.imgtelpon{
    float : left;
    width : 50%;
    font-size : 9pt;
}
.imgtelpon>img{
    width: 25pt;
    height: 25pt;
}

.detail{
    float:right;
    width:40%;
    font-size :12px;
    font-weight: bold;
}
.detail:hover{
    color :Red;
    cursor: pointer;
}
.captionanon {
    font-weight: bold;
}

.seemorebtn {
    margin-top : 15pt;
    background: #053961;
    color: white;
    font-weight: bold;
    margin-bottom: 15pt;
}