.listed-new {
    color: #053961;
    font-weight: bold;
    font-size: 15pt;
    
    border-bottom: #053961 1px solid;
}

.bungkus-kiri {
    width: 30%;
}
.bungkus-kanan {
    width: 70%;
}
.judul {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
table {
    width: 100%;
    table-layout: fixed;
}

.kotak-kanan {
    background: grey;
}
.asd {
    width: 100%;
    height: 500px;
}
.facillity {
    width: 75px;
}
.lebar-form {
    width: 500px;
}
.tinggi-form {
    height: 100px;
}
.kotak-kanan>img {
    width: 50%;
    height: 50%;
}
.tombol-bawah {
    background: #053961;
    color: white;
    width: 70pt;
    height: 30pt;
    margin-bottom: 40pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: #053961;
}