.wadaw {
  background-color: red;
  height: 80%;
}
body {
  background-image: url("../img/img/login.jpg");
  background-size: 100%;
}
.logo-sign {
  width: 75pt;
  height: 75pt;
}
.kotak {
  margin-top: 100pt;
  background:rgba(255,255,255,0.5);
  margin-bottom: 100pt;
}
.login {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 20pt;
}
.sign-in {
  background: #053961;
  border: 1px solid #053961;
  width: 130pt;
  color: white;
}
.account>a {
  color: red;
}
.account {
  color: #053961;
  margin-bottom: 50pt;
}
.asd {
  width: 200pt;
  height: 35pt;
}
