.yourhouse {
    color: #053961;
    font-weight: bold;
    font-size: 15pt;
    margin-left: 50pt;
    margin-top: 20pt;
}
hr {
    height: 1px;
    background-color: #053961;
    margin-left: 30pt;
    margin-right: 30pt;
}

.tulisan2 {
    font-weight: bold;
    font-size: 15pt;
    color: gray;
}
.tulisan2>a {
    color: #053961;
}
.bungkus {
    height: 1000px;
}