.kotak-profile {
    text-align: center;
    width: 80%;
    border: solid 1px black;
}
.kotak-profile>img {
    width: 120pt;
    height: 120pt;
}
.tombol-profile {
    margin-top: 10pt;
    color: white;
    font-weight: bold;
    background: #053961;
    width: 80pt;
}
hr { 
   border: solid 1px #053961;
   margin-left: 20%;
    margin-right: 20%;
}
.judul-bold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.bungkus {
    margin-left: 20%;
    margin-right: 20%;
}
.tombol-save {
    color: white;
    background: #053961;
    width: 100px;
    font-weight: bold;
    border: 0pt;
    margin-bottom: 20pt;
}
.judul-kanan {
    font-family: Arial, Helvetica, sans-serif;
    color: #053961;
    font-weight: bold;
    margin-top: 35pt;
}
.kotak-kanan {
    border-left: 1px solid black;
    height: 70%;
}
.no {
    color: grey;
    font-size: 12pt;
    font-weight: bold;
}