.kotak-profile {
    text-align: center;
    border: solid 1px black;
}
.kotak-profile>img {
    width: 120pt;
    height: 120pt;
}
.tombol-profile {
    margin-top: 10pt;
    color: white;
    font-weight: bold;
    background: #053961;
    width: 80pt;
}
hr { 
   border: solid 1px #053961;
   margin-left: 20%;
    margin-right: 20%;
}
.judul-bold {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
}
.bungkus {
    margin-left: 20%;
    margin-right: 20%;
}
.tombol-save {
    color: white;
    background: #053961;
    width: 100px;
    font-weight: bold;
    border: 0pt;
    margin: 10pt;
}

.judul-kanan {
    font-family: Arial, Helvetica, sans-serif;
    color: #053961;
    font-weight: bold;
}
.kotak-kanan {
    height : 90%;
    overflow-y : scroll;
    border-left: 1px solid black;
}
.no {
    color: grey;
    font-size: 12pt;
    font-weight: bold;
}
th {
    text-align: center;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 10pt;
    text-align: center;
}
.pending {
    color: rgb(255, 174, 0);
    font-weight: bold;
}
.accepted {
    color: green;
    font-weight: bold;
}
.reject {
    color: red;
    font-weight: bold;
}

.tombol {
    background: #053961;
    color: white;
    width: 30pt;
    height: 30pt;
    border: #053961;
    margin-bottom: 35pt;
}
.bungkus-tombol {
    margin-top: 400pt;
}
table{
    width:90%;
    margin : 0 auto;
}
