.bagi3 {
    
    height: 200px;
    float:left;  
}

.kotak{
    height: 100%;
}

.kotak_atas{
    height: 80%;
    text-align: center;
}

.kotak_atas img{
    height: 100%;
    
}

.kotak_bawah{
    color : #053961;
    font-weight: bold;
    text-align: center;
    height: 20%;
}
.warnabungkusicon {
    background: #f1f2f2;
}

.rent {
    color: #053961;
    font-weight: bold;
    margin-top: 5pt;
    border-bottom: 2px solid #053961;
}

/* .margin .bagi3 {
    border: 1px solid black;
} */

.kotak_bawah2{
    color : #053961;
    font-weight: bold;
    height: 20%;
}
.kotak_bawah2>p {
    color: #8795a6;
    font-size: 8pt;
}
.kotak_bawah2>h1 {
    font-size: 15pt;
}

.kotak_atas2 {
    height: 60%;
    text-align: center;
    width :100%;
    margin :0;
}
.kotak_atas2 img {
    height: 100%;
    width: 100%;
}
.kotak_bawah3 {
    height: 20%;
    color : #053961;

}

.kotak_sewa{
    height: 300pt;
    margin-bottom: 30pt;
}

.kotak_bungkus_bawah{
    margin :10px;
}



.f24{
    font-size: 14pt;
}
.imgtelpon{
    float : left;
    width : 50%;
    font-size : 9pt;
}
.imgtelpon>img{
    width: 25pt;
    height: 25pt;
}

.detail{
    float:right;
    bottom :0;
    width:40%;
}
.tombol {
    background: #053961;
    color: white;
    width: 30pt;
    height: 30pt;
    border: #053961;
    margin-bottom: 35pt;
}
.row.vdivide [class*='col-']:not(:last-child):after {
    background: lightgray;
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  .tulisan2 {
    color: #053961;
    font-weight: bold;
    
    
}
.filter {
    margin-bottom: 10pt;
    width: 200pt;
}
.search {
    background: #053961;
    color: white;
    font-weight: bold;
    width: 100pt;
    border: #053961;
    height: 25pt;
}