.tulisan {
    color: #053961;
    font-size: 15pt;
    border-bottom: #053961 2px solid;
    font-weight: bold;
    margin-top: 10pt;
}
.judul {
    color: #053961;
    font-size: 12pt;
    border-bottom: #053961 1px solid;
    font-weight: bold;
}
.bungkusfoto {
    margin-bottom: 10pt;
}
.foto {
    width: 70%;
}
.judul-bawah {
    color: black;
    font-size: 10pt;
    font-weight: bold;
    border-bottom: #053961 solid 1px;
    font-family: Arial, Helvetica, sans-serif
}
.caption {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}
.harga {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
}
.harga>a {
    color: #053961;
}
.tombol-bawah {
    background: #053961;
    color: white;
    width: 70pt;
    height: 30pt;
    margin-bottom: 40pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: #053961;
}
.tombol-kanan {
    float: right;
}
.row.vdivide [class*='col-']:not(:last-child):after {
    background: lightgray;
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  .border-kiri {
      border-left: solid 2px grey;
  }
td, table, th{
    border-collapse: collapse;
    white-space: nowrap;
}
table {
    width: 100%;
    
    table-layout: auto;
}

.dummy-upload {
    background: grey;
    width: 300pt;
    height: 250pt;
    margin-left: 10pt;
}
.bg-kiri {
    background: lightgray;
}
.kotakk {
    margin-bottom: 100pt;
}