.navbar {
    background: #053961;
    overflow: hidden;
}
.nav-link {
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.fotoslide {
    height: 510px;
    width: 1600px;
}
.icon {
    width: 200px;
    height: 200px;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #062f4f;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.bagi3 {
    
    height: 200px;
    float:left;  
}

.kotak{
    height: 100%;
}

.kotak_atas{
    height: 80%;
    text-align: center;
}

.kotak_atas img{
    height: 100%;
    
}

.kotak_bawah{
    color : #053961;
    font-weight: bold;
    text-align: center;
    height: 20%;
}
.warnabungkusicon {
    background: #f1f2f2;
}
.margin {
    margin-top: 10pt;
    margin-bottom: 15pt;
}
.rent {
    color: #053961;
    font-weight: bold;
    margin-top: 5pt;
    border-bottom: 2px solid #053961;
}

/* .margin .bagi3 {
    border: 1px solid black;
} */

.kotak_bawah2{
    color : #053961;
    font-weight: bold;
    height: 20%;
}
.kotak_bawah2>p {
    color: #8795a6;
    font-size: 8pt;
}
.kotak_bawah2>h1 {
    font-size: 15pt;
}

.kotak_atas2 {
    height: 60%;
    text-align: center;
    width :100%;
    margin :0;
}
.kotak_atas2 img {
    height: 100%;
    width: 100%;
}
.kotak_bawah3 {
    height: 20%;
    color : #053961;

}

.kotak_sewa{
    height: 300pt;
}

.kotak_bungkus_bawah{
    margin :10px;
}

.kotak_sewa > .kotak {
    
    padding : 0;
}

.f24{
    font-size: 14pt;
}
.imgtelpon{
    float : left;
    width : 50%;
    font-size : 9pt;
}
.imgtelpon>img{
    width: 25pt;
    height: 25pt;
}

.detail{
    float:right;
    bottom :0;
    width:40%;
}
.detail:hover{
    color :Red;
    cursor: pointer;
}
.captionanon {
    font-weight: bold;
}
.seemorebtn {
    background: #053961;
    color: white;
    font-weight: bold;
    margin-bottom: 10pt;
}
.warnafooter {
    background: #053961;
}
.footercaption {
    color: white;
    font-weight: bold;
}
.page-footer {
    background: #053961;
}
.imagefooter {
    width: 15pt;
    height: 15pt;
}
.imageapp {
    width: 200pt;
    height: 50pt;
}

/* Login Form */

