.kotak {
    border: 1px solid black;
}
p>img {
    width: 100pt;
    height: 100pt;
}
.angka-biru {
    color: #053961;
    font-weight: bold;
    font-size: 18pt
}
.angka-bawah {
    color: black;
    font-weight: bold;
    font-size: 12pt;
}
.angka-kuning {
    color: rgb(255, 174, 0);
    font-weight: bold;
    font-size: 18pt;
}