
table {
    width: 100%;
    table-layout: fixed;
}
.lebar-form {
    width: 500px;
}
.tinggi-form {
    height: 100px;
}
.facillity {
    width: 75px;
}
.kotak-kanan {
    background: grey;
}
.judul {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
.tombol-kanan {
    float: right;
}
.tombol-bawah {
    background: #053961;
    color: white;
    width: 90pt;
    height: 30pt;
    margin-top: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: #053961;
}
.foto-asd {
    height: 200pt;
}