th {
    text-align: center;
}
td {
    color: #053961;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.pending {
    color: yellow;
}
.accepted {
    color: green;
}
.reject {
    color: red;
}

.tombol {
    background: #053961;
    color: white;
    width: 30pt;
    height: 30pt;
    border: #053961;
    margin-bottom: 35pt;
}
.bungkus-tombol {
    margin-top: 400pt;
}
table {
    margin-left: 20pt;
}
.tombol-save {
    color: white;
    background: #053961;
    width: 100px;
    font-weight: bold;
    border: 0pt;
    margin: 10pt;
}