.invoice {
    margin-left: 20pt;
    color: black;
    font-weight: bold;
}
.invoice>a {
    color: #053961;
}
table {
    margin-left: 20pt;
}
.lebar-form {
    width: 100%;
}
td {
    font-weight: bold;
}
.lama {
    width: 50pt;
}
.bukti {
    background: lightgrey;
    height: 100pt;
}
.tombol-bawah {
    background: #053961;
    color: white;
    width: 90pt;
    height: 30pt;
    margin-top: 10pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: #053961;
}
.tombol-asd {
    margin-left: 20pt;
}