.sidenav { height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #053961;
    overflow: auto;
    padding-top: 20px;
}
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 11pt;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
.sidenav a:hover, .dropdown-btn:hover {
    background: #042E4D;
  }
.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
  }
.active {
    background-color: #042E4D;
    color: white;
  }
.dropdown-container {
    display: none;
    background-color: #053961;
    padding-left: 8px;
  }
 .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
/* buat responsive */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.asd {
    margin-bottom: 10pt;
}
.judul-atas {
    border-bottom: 1px black solid;
    color: #053961;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10pt;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .listed-new {
    color: #053961;
    border-bottom: #053961 2px solid;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20pt;
}
